extends layout

block content
	#story !{story}
	
	h3 Press
	ul
		each e in press
			li
				a(target="_blank" rel="noopener" href=e.url) 
					b #{e.title}
	
	h3 OSS Projects
	ul
		each e in oss_projects
			li
				a(target="_blank" rel="noopener" href=e.html_url) 
					b #{e.name}
					span : #{e.description}

	h3 Projects
	ul
		each e in projects
			li
				a(target="_blank" rel="noopener" href=e.url) 
					b #{e.name}
					span : #{e.description}

	h6
		a(target="_blank" rel="noopener" href="https://pgp.mit.edu/pks/lookup?op=get&search=${pack.gpgKey}") GPG: #{pack.gpgKey}
